body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
margin-top:100px;
}

.container{
width:300px;
margin:auto;
}

input{
padding:8px;
width:180px;
}

button{
padding:8px;
}

li{
list-style:none;
background:white;
margin:5px;
padding:10px;
cursor:pointer;
}